{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Téléchargements{% endblock %}</title>

    <div class="yellow-color blue-outline">
        <div class="d-flex align">
            <a class="download-link" href="/PDFs/plaquette-2024_2025.pdf" download="Plaquette-ALSH" target="_blank">Plaquette ALSH 2024 – 2025</a>
        </div>   
        <hr/>
        <div class="custom-column align">
            <a class="download-link" href="/PDFs/Bulletin-dadhesion-2024-2025.pdf" download="Bulletin_Adhésion_2024-2025" target="_blank">Bulletin d’adhésion 2024 – 2025</a>
            <a class="download-link" href="/PDFs/ALSH-Inscription-2024-2025.pdf" download="Inscription_ALSH_2024-2025" target="_blank">Fiche d’inscription ALSH 2024- 2025 (3-18 ans)</a>
            <a class="download-link" href="/PDFs/Aide-aux-Devoirs-2024-2025.pdf" download="Inscription_Aide-aux-Devoirs_2024-2025" target="_blank">Fiche d’Inscription Aide aux devoirs (Primaire et Collège) 2024 – 2025</a>
            <a class="download-link" href="/PDFs/Theatre-enfants-ados.pdf" download="Inscription_Théâtre_Enfants-Ados_2024-2025" target="_blank">Fiche d’inscription Théâtre enfant/ado 2024- 2025 (8-14 ans)</a>
            <a class="download-link" href="/PDFs/Tarifs-2024-2025-ALSH.pdf" download="Tarifs_ALSH_2024-2025" target="_blank">Tarifs ALSH 2024-2025</a>
            <a class="download-link" href="/PDFs/R-I-des-ALSH-2024-2025.pdf" download="Règlement_Intérieur_ALSH" target="_blank">Règlement Intérieur des ALSH</a>
            <a class="download-link" href="/PDFs/Tous-tarifs-2024-2025.pdf" download="Tous_Tarifs_2024-2025" target="_blank">Tous les tarifs (Adhésions, ALSH enfant et ados, Cyber-base, Théâtre)</a>
        </div>
        <hr/>
        <div class="custom-column align">
            <a class="download-link" href="/PDFs/Rapport-AG-2022.pdf" download="Bilan_Activités_2021-2022" target="_blank">Bilan 2021 – AG 2022</a>
            <a class="download-link" href="/PDFs/AG-2021.pdf" download="Bilan_Activités_2020-2021" target="_blank">Bilan 2020 – AG 2021</a>
            <a class="download-link" href="/PDFs/Bilan-2019-AG-2020.pdf" download="Bilan_Activités_2019-2020" target="_blank">Bilan 2019 – AG 2020</a>
            <a class="download-link" href="/PDFs/Bilan-2018-AG-2019.pdf" download="Bilan_Activités_2018-2019" target="_blank">Bilan 2018 – AG 2019</a>
            <a class="download-link" href="/PDFs/Bilan-2017-AG-2018.pdf" download="Bilan_Activités_2017-2018" target="_blank">Bilan 2017 – AG 2018</a>
        </div>
        <hr/>
        <div class="custom-column align">
            <a class="download-link" href="/PDFs/projet-social-2022-2025.pdf" download="Projet_Social_2022-2025" target="_blank">Projet Social 2022 – 2025</a>
            <a class="download-link" href="/PDFs/CAS-JCL-Projet-Social-2017.pdf" download="Projet_Social-2017-2020" target="_blank">Projet Social 2017 – 2020</a>
        </div>
    </div>

{% endblock %}