{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Emploi{% endblock %}</title>

    <div class="yellow-color blue-outline">
        <p class="d-flex align">
            Le Centre d’Animation Sociale-JCL vous aide dans vos démarches de recherches d’emploi et/ou de construction de votre projet professionnel.
        </p>
        <br/>
        <p class="custom-column d-flex align">
            <span>Chaque semaine il vous propose :</span>
            <span>♦ Un accueil individuel sur rendez-vous le lundi de 14h00 à 16h00</span>
            <span>♦ Un accueil collectif le mardi de 14h00 à 16h00</span>
            <div class="d-flex align">
                <img class="img-alsh" src="/images/images-plaquette/coupdepouceemploi_individuel.jpg"/>
                <img class="img-alsh" src="/images/images-plaquette/Café_métiers.jpg"/>
            </div>
        </p>
        <br/>
        <p class="custom-column d-flex align">
            <span>Ces créneaux sont animés par les permanents du Centre d’Animation Sociale-JCL accompagnés ponctuellement d’intervenant extérieurs.</span>
            <span>♦ Animations collectives sur la thématique de l’emploi (formations, orientations, internet…),</span>
            <span>♦ Aides techniques et informatiques individualisées,</span>
            <span>♦ Technique de recherche d’emploi (CV, lettre de motivation, entretiens…),</span>
            <span>♦ Prendre contacts avec les agences intérimaires ou un employeur,</span>
            <span>♦ Se réorienter dans sa vie professionnelle, changer de profession, suivre une formation.</span>
        </p>
        <hr/>
        <p class="custom-column d-flex align">
            <span>
                La Mission Locale de l’Agglomération Mancelle accompagne le 16-25 ans dans leur démarche d’orientation et d’insertion professionnelle.
                Basée au Mans, elle assure une permanence de proximité à Champagné.
            </span>
            <br/>
            <img class="img-emploi" src="/images/logo/Logo_Mission_Locale.png"/>
            <span>Une permanence sur rendez-vous</span>
            <span>le mardi de 14h00 à 17h00</span>
            <span>au 02.43.84.16.60</span>
        </p>
    </div>

{% endblock %}
