{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Cyber Base{% endblock %}</title>

    <div class="yellow-color blue-outline">
        <p class="custom-column">
            <span>LA CYBER-BASE, C’EST QUOI ?</span>
            <span>Envoyer un mail, prendre un rendez-vous chez le médecin ou encore déclarer vos impôts ? Chaque jour on vous demande de faire vos démarches administratives sur Internet. Cependant, vous ne savez pas toujours comment faire, c’est là que la Cyber-base intervient…</span>
            <br/>
            <span>La Cyber-base est un lieu d’apprentissage dédié à l’informatique. Nous proposons différents ateliers afin de répondre à vos besoins et nous mettons des ordinateurs à votre disposition si vous n’êtes pas équipé.</span>
        </p>
        <br/>
        <p class="custom-column">
            <span>LA CYBER-BASE, C’EST POUR QUI ?</span>
            <span>Toutes les personnes qui souhaitent s’initier et perfectionner ses pratiques numériques dans une ambiance conviviale, que vous ayez déjà utiliser un ordinateur… ou non !</span>
        </p>
        <br/>
        <div class="flex">
            <div class="col-12 col-md-8 col-lg-8 mb-3 align">
                <p class="custom-column cyber-text align">
                    <span>Mes premiers pas :</span>
                    <span>Vous avez envie d’apprendre à utiliser un ordinateur ? Osez-vous lancer !</span>
                    <span>Nous apprendrons à utiliser clavier/pavé tactile/souris, nous nous lancerons à la découverte de votre ordinateur (le bureau, les icônes…) de ses réglages (le son, la luminosité) et nous partirons à la découverte d’Internet.</span>
                    <span>Nous adaptons le rythme des ateliers et la difficulté des séances en fonction des participants : nous prenons le temps d’avancer tous ensemble.</span>
                    <span>Vous n’avez pas d’ordinateur ? Nous pouvons vous en fournir un le temps des ateliers. </span>
                    <span>Le mardi de 17h30 à 19h00</span>
                </p>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mb-3 align">
                <img class="img-cyber" src="/images/cyberbase/Computer-classes.png"/>
            </div>
        </div>
        </p>
        <div class="flex">
            <div class="col-12 col-md-4 col-lg-4 mb-3 align">
                <img class="img-cyber" src="/images/cyberbase/Advanced-classes.png"/>
            </div>
            <div class="col-12 col-md-8 col-lg-8 mb-3 align">
                <p class="custom-column cyber-text align">
                    <span>J’approfondis mes connaissances :</span>
                    <span>Vous savez utiliser clavier et souris, surfer sur Internet mais il vous manque de la pratique : créer des dossiers, nettoyer votre ordinateur, télécharger des logiciels, trier des photos… Vous pourrez, dans ce groupe, réviser les utilisations de base telles que décharger votre appareil photo, envoyer un mail, organiser vos dossiers ou sauvegarder vos documents…</span>
                    <span>Votre ordinateur cache des outils qui vont vous faciliter la vie : vous partagerez rapidement vos trouvailles et vos progrès chaque semaine avec les autres membres du groupe !</span>
                    <span>Le Jeudi de 17h00 à 18h30</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <div class="col-12 col-md-8 col-lg-8 mb-3 align">
                <p class="custom-column align">
                    <span>Je me perfectionne :</span>
                    <span>Vous avez des bases solides mais vous souhaitez compléter vos connaissances ? Nous mettons à profit vos acquis afin de progresser dans votre pratique de l’informatique et asseoir vos connaissances : applications Internet, pratique du tableur, jeux, retouche photo, diaporama…</span>
                    <span>Nous révisons régulièrement des thématiques récurrentes comme la maintenance de votre ordinateur, le classement des dossiers ou les nouveautés de votre système d’exploitation, toujours dans l’entraide et la bonne humeur.></span>
                    <span>Le Vendredi 15h00 à 16h30</span>
                </p>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mb-3 align">
                <img class="img-cyber" src="/images/cyberbase/Master-classes.png"/>
            </div>
        </div>
        <p class="custom-column">
            <span>Pour information :</span>
            <span>1 : Si vous ne possédez pas de coefficient CAF, nous pouvons calculer votre tarif à l’aide de votre revenu fiscal de référence présent sur votre avis d’imposition, n’oubliez pas votre feuille !</span>
            <span>2 : Le tarif réduit concerne les demandeurs d’emploi, les moins de 18 ans, les étudiants, les scolaires, les bénéficiaires du RSA ou toute personne bénéficiaire des minimas sociaux.</span>
        </p>
        <hr/>
        <p class="custom-column">
            <span>Permanence “Informatique et vie quotidienne“</span>
            <br/>
            <span>La Cyber-base ouvre le temps d’une permanence pour vous laisser un accès à un ordinateur/Internet. Vous pouvez mettre à profit ce temps pour vous entrainer à utiliser votre ordinateur ou un logiciel, réaliser vos démarches en ligne, consulter votre boite mail, postuler un emploi…</span>
            <span>Un animateur est présent pour vous aider en cas de besoin !</span>
            <span>Le Vendredi 11h00 à 12h30</span>
        </p>
        <p>
            Un doute sur le groupe qui vous convient ? N’hésitez pas à demander conseil à l’animateur qui se chargera de vous aiguiller.
        </p>
    </div>

{% endblock %}
