{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Loisirs Créatifs{% endblock %}</title>

    <div class="yellow-color blue-outline flex">
        <div class="col-12 col-md-6 col-lg-6 mb-3">
            <p class="custom-column">
                <span>Envie de découvrir et d’échanger autour d’activités créatives ?</span>
                <span>Le Centre d’Animation Sociale-JCL vous ouvre ses portes</span>
                <span>Martine et Annie vous accueillent dans une ambiance conviviale: couture, tricot, déco... Pour apprendre ou partager leur savoirs-faire.</span>
                <span>le mercredi de 14h30 à 17h00</span>
                <span>pour participer à des ateliers.</span>
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 mb-3">
            <img class="img-tap" src="/images/images-plaquette/Photo_Loisirs_Créatifs.jpg"/>
        </div>
    </div>

{% endblock %}