{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Parentalité{% endblock %}</title>

    <div class="yellow-color blue-outline custom-column d-flex align">
        <p>
            Le secteur famille du Centre d’Animation Sociale-JCL accompagne les parents dans l’exercice de leur parentalité à travers l’organisation de temps ponctuels d’information, de rencontre et d’échange.
        </p>
        <div class="flex">
            <img class="img-tap" src="/images/images-plaquette/Photo_parentalité.png"/>
            <img class="img-tap" src="/images/images-plaquette/temps_parents_enfants.JPG"/>
        </div>
    </div>

{% endblock %}
