<div class="container-fluid no-margins yellow-color py-3">
	<div class="d-flex justify-content-center align-items-center gap-3 flex-wrap w-100">
        <a href="https://www.ville-champagné.fr/">
		    <img class="logo-sponsor img-fluid" src="/images/logo/logo-Champagne.png">
        </a>
        <a href="https://caf.fr/">
		    <img class="logo-sponsor img-fluid" src="/images/logo/logo-CAF.png">
        </a>
        <a href="https://www.sarthe.fr/">
		    <img class="logo-sponsor img-fluid" src="/images/logo/logo-Sarthe.png">
        </a>
        <a href="https://solidarites.gouv.fr/la-direction-generale-de-la-cohesion-sociale-dgcs">
		    <img class="logo-sponsor img-fluid" src="/images/logo/logo-Cohesion.jpg">
        </a>
        <a href="https://fal72.org/laligue72/la-federation/notre-projet-nos-actions/">
		    <img class="logo-sponsor img-fluid" src="/images/logo/logo-Federation.webp">
        </a>
        <a href="https://www.info.gouv.fr/">
		    <img class="logo-sponsor img-fluid" src="/images/logo/logo-Etat.png">
        </a>
        <a href="https://www.msa.fr/lfp">
		    <img class="logo-sponsor img-fluid" src="/images/logo/logo-Mutualite.png">
        </a>
        <a href="https://www.secourspopulaire.fr/">
		    <img class="logo-sponsor img-fluid" src="/images/logo/logo-SecoursPopulaire.png">
        </a>
        <a href="https://www.lemansmetropole.fr/">
		    <img class="logo-sponsor img-fluid" src="/images/logo/logo-Mans.jpg">
        </a>
	</div>
</div>
