{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Centre de Loisirs{% endblock %}</title>

    <div class="yellow-color">
        <p class="d-flex align">
            <span>L’accueil de loisirs du Centre d’Animation Sociale-JCL est ouvert aux enfants de 3 à 12 ans. A travers des activités sportives, manuelles, culturelles et des projets d’animation thématiques, il accompagne les enfants dans l’apprentissage de l’autonomie et la découverte de la vie en collectivité.</span>
        </p>
        <div class="flex custom-column">
            <p class="custom-column d-flex align">
                <span>Un Péricentre est proposé pour faciliter l’organisation des familles :</span>
                <span>♦ Le matin de 08h00 à 08h30</span>
                <span>♦ Le soir de 17h30 à 18h00</span>
            </p>
            <p class="custom-column d-flex align">
                <span>L’Accueil de Loisirs Sans Hébergement accueille les enfants :</span>
                <span>♦ Le mercredi en période scolaire de 12h30 à 17h30</span>
                <span>♦ Les petites et grandes vacances scolaires de 08h30 à 17h30</span>
                <div class="flex d-flex align">
                    <img class="img-alsh" src="/images/images-plaquette/alsh_mercredi.jpg"/>
                    <img class="img-alsh" src="/images/images-plaquette/alsh_vacances.jpg"/>
                </div>
            </p>
            <p class="custom-column d-flex align">
                <span>2 sites pour 2 tranches d’âges (soumis modification actuellement) :</span>
                <span>♦ Le Centre d’Animation Sociale 6 – 12 ans</span>
                <span>(L’école Jacques Prévert au mois de juillet)</span>
                <span>♦ La Maison de l’Enfance 3- 5 ans</span>
            </p>
        </div>
        <p class="d-flex align">L’Accueil de Loisirs Sans Hébergement bénéficie également de nombreux équipements : gymnase, terrains de sports de l’Huisne, préau et extérieur de l’école Jacques Prévert.</p>
    </div>

{% endblock %}
