{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Services Départementaux{% endblock %}</title>

    <div class="yellow-color blue-outline">
        <p class="custom-column d-flex align">
            <img class="img-emploi" src="/images/logo/Logo_PMI.png"/>
            <span>Assistance Sociale</span>
            <span>Permanence le lundi sur rendez-vous 02 43 74 11 10.</span>
            <span>de 13h30 à 16h30</span>
            <br/>
            <span>Mme DEZECOT</span>
        </p>
        <hr/>
        <p class="custom-column d-flex align">
            <span>Pesée des nourrissons</span>
            <span>Permanence le lundi sur rendez-vous au 02 43 74 11 10</span>
            <span>De 14h00 à 16h30</span>
            <br/>
            <span>Puéricultrice, Mme BELLANGER</span>
        </p>
        <hr/>
        <p class="custom-column d-flex align">
            <span>Consultation des nourrissons</span>
            <span>Permanence le jeudi sur rendez-vous au  02 43 74 11 10.</span>
            <span>De 09h00 à 12h00</span>
            <br/>
            <span>Puéricultrice, Mme BELLANGER</span>
            <span>Médecin de PMI, Mme AGUILLE</span>
        <p>
        <hr/>
        <p class="custom-column d-flex align">
            <span>Préparation à la naissance</span>
            <span>Permanence le mardi sur rendez-vous au 02 43 54 72 18.</span>
            <span>De 14h00 à 16h30</span>
            <br/>
            <span>Sage-Femme, Mme GALLET</span>
        </p>
    </div>

{% endblock %}