{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Aide aux Devoirs - Enfance{% endblock %}</title>

    <div class="yellow-color">
        <p>
            L’action s’inscrit dans le cadre d’un Contrat Local d’Accompagnement Scolaire signé avec La Caisse d’Allocations Familiales de la Sarthe.
            Deux fois par semaine les lundi et jeudi de 16h45 à 18h15, des élèves de primaire sont accueillis par quatre encadrants afin d’être accompagnés sur la réalisation des devoirs.
            Des activités éducatives sont également proposées en fin de séances.
        </p>
        <p class="custom-column">
            <span>Inscription et tarifs :</span>
            <span>♦ Inscription à l’accueil du Centre d’Animation Sociale-JCL</span>
            <span>♦ Activité gratuite ne nécessitant que l’adhésion</span>
        </p>
    </div>

{% endblock %}