{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Partenaires{% endblock %}</title>

	<div class="yellow-color blue-outline">
		<div class="custom-column d-flex align">
			<p>
				<span>Partenaires d’Actions</span>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="https://www.ville-champagné.fr/">♦ Ville de Champagné</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="https://caf.fr/">♦ Caisse d’Allocations Familiales de la Sarthe</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="https://paysdelaloire.centres-sociaux.fr/federation-des-centres-sociaux-72/">♦ Fédération Départementale des Centres Sociaux de la Sarthe</a>
			</p>
			<br/>
			<p class="custom-column d-flex align">
				<span>♦ Les Associations Locales :</span>
				<a class="clean-text black-text" href="https://www.secourspopulaire.fr/">– Secours Populaire</a>
				<a class="clean-text black-text" href="https://www.admr.org/">– Aide à Domicile en Milieu Rural</a>
				<a class="clean-text black-text" href="https://femmes-solidaires.org/">– Femmes Solidaires</a>
				<a class="clean-text black-text" href="http://www.amusiquons-nous.fr/">– Amusiquons nous</a>
				<a class="clean-text black-text" href="https://cbpt72.jimdofree.com/">– Bibliothèque pour tous</a>
				<a class="clean-text black-text" href="https://sites.google.com/view/animationstourismechampagne/accueil">– Animations Tourisme de Champagné</a>
				<a class="clean-text black-text" href="https://www.facebook.com/bouger72470/?locale=fr_FR">– Bouger</span>
				<a class="clean-text black-text" href="">– Fédération des Conseils de Parents d’Elèves</a>
			</p>
			<br/>
			<p class="custom-column d-flex align">
				<span>♦ Les écoles :</span>
				<a class="clean-text black-text" href="https://www.ville-champagné.fr/vie-educative/ecoles/">– Pauline Kergomard</a>
				<a class="clean-text black-text" href="https://www.ville-champagné.fr/vie-educative/ecoles/">– Jacques Prévert</a>
				<a class="clean-text black-text" href="https://www.ville-champagné.fr/vie-educative/ecoles/">– Louise Michel</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="https://clg-wwright.sarthe.e-lyco.fr/">♦ Le collège Wilbur Wright</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="https://www.francebenevolat.org/associations/reseau/association/52334">♦ La Fédération des Associations Laïques</a>
			</p>
			<br/>
			<p class="custom-column d-flex align">
				<span>♦ Le Conseil Départemental :</span>
				<span>– Assistante sociale du secteur</span>
				<a class="clean-text black-text" href="">– Services Protection Maternelle Infantile</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ Le Centre Régional Information Jeunesse</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ La Mission Locale</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ L’Association Départemental Emploi Formation en Agriculture</a>
			</p>
			<br/>
			<p>
				<span>♦ Les entreprises et commerces locaux</span>
			</p>
			<br/>
			<p>
				<span>♦ Agences d’intérim</span>
			</p>
			<br/>
			<p>
				<span>♦ Organismes de formation</span>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ France Travail</a>
			</p>
		</div>
		<hr/>
		<div class="custom-column align">
			<p>
				<span>Partenaires Financiers</span>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ Ville de Champagné</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ Caisse d’Allocations Familiales de la Sarthe</p>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ Conseil Départemental de la Sarthe</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ La Direction Départementale de la Cohésion Sociale</p>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ L’Etat : soutien aux emplois aidés</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ La Fédération des Associations Laïques</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ La Mutualité Sociale Agricole</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ Le Secours Populaire</a>
			</p>
			<br/>
			<p>
				<a class="clean-text black-text" href="">♦ Le Mans Métropôle</a>
			</p>
		</div>
	</div>

{% endblock %}
