{% block body %}
	<title>
		{% block title %}Espace Administrateur - Modification Association{% endblock %}
	</title>
	<div class="flex align">
		<button class="add">
			<a class="clean-text" href="/admin/add">Ajouter</a>
		</button>
		<button class="modify">
			<a class="clean-text" href="/admin/modify/list">Modifier</a>
		</button>
		<button class="delete">
			<a class="clean-text" href="/admin/modify/list">Supprimer</a>
		</button>
	</div>

	<div class="flex align">
		<button class="add">
			<a class="clean-text" href="/admin/add">Ajouter</a>
		</button>
		<button class="modify">
			<a class="clean-text" href="/admin/modify/list">Modifier</a>
		</button>
		<button class="delete">
			<a class="clean-text" href="/admin/modify/list">Supprimer</a>
		</button>
	</div>

	<div class="modify-list flex align">
		<button class="modify">
			<a class="clean-text" href="/admin/modify/adhesion">Adhésion</a>
		</button>
		<button class="modify">
			<a class="clean-text" href="/admin/modify/membres">Membres</a>
		</button>
	</div>

    {% block importmap %}
		{{ importmap('app') }}
		{% block stylesheets %}{% endblock %}
	{% endblock %}
{% endblock %}