{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Aide aux Devoirs - Jeunesse{% endblock %}</title>

    <div class="yellow-color">
        <p>
            L’activité s’inscrit dans le cadre d’un Contrat Local d’Accompagnement Scolaire signé avec la Caisse d’Allocations Familiales de la Sarthe.
            Deux fois par semaine les lundi et jeudi de 17h00 à 18h30, les collégiens sont accueillis par deux encadrants afin d’être accompagnés sur la réalisation des devoirs.
        </p>
        <div class="flex">
            <p class="custom-column col-12 col-md-6 col-lg-6 mb-3">
                <span>Inscription et tarifs :</span>
                <span>♦ Inscription à l’accueil du Centre d’Animation Sociale-JCL</span>
                <span>♦ Activité gratuite ne nécessitant que l’adhésion</span>
            <p>
            <div class="col-12 col-md-6 col-lg-6 mb-3">
                <img class="img-tap" src="/images/images-plaquette/jeunesse_aide_aux_devoirs.jpg"/>
            </div>
        </div>
    </div>

{% endblock %}