{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Atelier Théâtre{% endblock %}</title>

	<div class="yellow-color blue-outline">
		<div class="flex">
			<div class="col-12 col-md-6 col-lg-6 mb-3">
				<p class="custom-column">
					<span>Atelier Théâtre enfant/ado (8-14 ans)</span>
					<span>Les ateliers auront lieu à l’échappée, la médiathèque de Champagné les jeudis de 17h30 à 19h00.</span>
					<span>La première séance aura lieu le jeudi 21 Septembre 2024. Les deux premières séances sont gratuites et sans engagement.</span>
					<span>Pour tous renseignements, vous pouvez contacter le centre social au 02 43 82 82 21 ou à l’adresse suivante accueil@cas-champagne.fr.</span>
				</p>
			</div>
			<div class="col-12 col-md-6 col-lg-6 mb-3">
				<img class="img-tap" src="/images/images-plaquette/Photos_Atelier_Théâtre_Enfants_Ados.jpg"/>
			</div>
		</div>
		<hr/>
		<p class="custom-column">
			<span>Atelier Théâtre adultes</span>
			<span>N’hésitez pas à rejoindre Ludovic et sa troupe pour vous initier aux arts de la scène dans la bonne humeur et la convivialité !</span>
			<span>Atelier théâtre pour adultes et adolescents tous les mardis soir à 20h00 à la salle polyvalente de Champagné.</span>
		</p>
		<hr/>
		<p class="custom-column">
			<span>Inscription et tarif :</span>
			<span>♦ Inscription à l’accueil du Centre d’Animation Sociale-JCL</span>
			<span>♦ Tarif annuel (avec possibilité de règlement en 3 fois)</span>
			<span>et être adhérent au Centre d’Animation Sociale-JCL</span>
		</p>
		<br/>
		<p>
			Pour découvrir l’atelier, les 2 premières séances sont gratuites.
		</p>
	</div>

{% endblock %}
