{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Projets Jeunes Habitants{% endblock %}</title>

    <div class="yellow-color blue-outline flex">
        <div class="col-12 col-md-6 col-lg-6 mb-3">
            <img class="img-tap" src="/images/images-plaquette/jeunesse_chantier_argent_de_poche.jpg"/>
        </div>
        <div class="col-12 col-md-6 col-lg-6 mb-3">
            <p class="custom-column">
                <span>Les jeunes souhaitant :</span>
                <span>♦ Développer une activité,</span>
                <span>♦ Organiser une sortie, un concert, un tournoi sportif,</span>
                <span>♦ Partir en vacances.</span>
            </p>
            <p class="custom-column">
                <span>Les animateurs du Centre d’Animation Sociale-JCL sont là pour les aider à :</span>
                <span>♦ Structurer leur projet,</span>
                <span>♦ Rechercher des financements,</span>
                <span>♦ Réaliser leur projet.</span>
            </p>
            <p class="custom-column">
                <span>Actualité : Atout Jeunes</span>
                <span>Ce dispositif, proposé par la mairie de Champagné a pour vocation de soutenir les projets des jeunes de la commune et favoriser l’engagement citoyen.</span>
            </p>
        </div>
    </div>
    <div class="white-color yellow-outline flex">
        <div class="col-12 col-md-6 col-lg-6 mb-3">
            <p class="custom-column">
                <span>"Dévelop ta ville"</span>
                <span>Ce dispositif vous permet d'être aux commande d'un projet sur votre commune.</span>
                <span>Celui ci peut être:</span>
                <li class="flex"><span>-éducatif</span><span class="text-projets">-sportif</span></li>
                <li class="flex"><span>-culturel</span><span class="text-projets">-solidaire</span></li>
            </p>
            <p class="custom-column">
                <span>Des projets déjà accompagnés et soutenus par "Develop ta ville":</span>
                <span>-L'atelier théâtre "enfants et adolécents"</span>
                <span>-""Just4Fun", la web radio de Champagné</span>
                <span>--> <a href="https://just4funwebradio.fr">just4funwebradio.fr</a></span>
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 mb-3">
            <img class="img-tap" src="/images/images-plaquette/Just4fun.jpg"/>
        </div>
    </div>

{% endblock %}
