{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Informations Jeunesse{% endblock %}</title>

	<div class="yellow-color blue-outline">
		<div class="d-flex align">
			<img class="img-info" src="/images/images-plaquette/Logo_infos_Jeunes_Champagné.png"/>
		</div>
		<p>
			Le Point Information Jeunesse de Champagné accueille tous les jeunes gratuitement.
			            Ouvert à tous, le PIJ, a pour mission d’aider les jeunes à trouver des informations sur tous les sujets qui les concernent ou les intéressent.
		</p>
		<br/>
		<p>
			Le PIJ de Champagné est un lieu d’accueil pour tous ceux qui souhaitent s’informer sur l’orientation, l’emploi, la formation, les projets et initiatives, la vie pratique (droit, logement, santé), la culture et les loisirs, la mobilité en Europe et à l’international.
		</p>
		<br/>
		<p>
			Vous serez reçu personnellement par un animateur qui vous écoutera, et cherchera avec vous les réponses à vos questions, qu’il s’agisse de scolarité, de formation, d’emploi, de stages, de jobs d’été, de logement, de loisirs, de préparer votre départ vers l’étranger, ou encore de monter un projet pour lequel vous cherchez des aides.
		</p>
		<br/>
		<p>
			Vous trouverez en libre accès de la documentation spécialisée, des revues, des ordinateurs et une imprimante.
			            Le PIJ fait partie du Réseau Information Jeunesse et il est un relais vers d’autres structures locales et ou départementales (Mission Locale, Pôle Emploi, Maison des Adolescents, Maison de l’Europe…).
		</p>
		<hr/>
		<p class="custom-column">
			<span>Le PIJ :</span>
			<span>♦ Est ouvert à tous, sur rendez-vous,</span>
			<span>♦ Est un lieu d’écoute et d’information,</span>
			<span>♦ Propose un accueil personnalisé,</span>
			<span>♦ Offre un point d’accès Internet disponible pour effectuer des recherches documentaires, saisir des CV, des lettres de motivations.</span>
		</p>
		<hr/>
		<p>
			Le PIJ aide et accompagne les porteurs de projets de loisirs, de culture, de vacances et humanitaires.
		</p>
		<br/>
		<p>
			Le PIJ de Champagné fait partie du réseau des structures accompagnatrices de projets de jeunes en Sarthe (Innov’Jeunes piloté par la Caisse d’Allocations Familiales et la Direction Départementale de la Cohésion Sociale).
		</p>
		<br/>
		<p>
			Les jeunes comme leurs aînés sont les bienvenus. N’hésitez pas à pousser la porte !
		</p>
		<br/>
		<p>
			Le PIJ de Champagné est ouvert tous les mercredis après-midi sur rendez-vous de 14h00 à 18h30.
			            Des permanences sont proposées pendant les vacances scolaires.
		</p>
	</div>
{% endblock %}
