{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Partenariat Collège{% endblock %}</title>

    <div class="yellow-color blue-outline">
        <p>
            Le Centre d’Animation Sociale-JCL est signataire avec le Collège Wilbur WRIGHT d’une convention de partenariat siège au Comité d’Education Santé Citoyenneté et au conseil d’administration.
            A travers celle-ci de nombreuses actions sont organisées toute l’année scolaire en direction des classes.
        </p>
        <p class="custom-column">
            <span>♦ Des actions d’éducation à la citoyenneté :</span>
            <span>– Semaine d’éducation contre le racisme</span>
        </p>
        <p class="custom-column">
            <span>♦ Des actions d’accompagnement à l’orientation :</span>
            <span>– Découverte du Point Information Jeunesse et de la Mission Locale</span>
            <span>– Aide à la recherche de stage</span>
            <span>– Forum des métiers</span>
        </p>
        <p class="custom-column">
            <span>♦ Des actions de prévention santé :</span>
            <span>– Prévention des risques auditifs</span>
            <span>– Rallye découverte des structures d’accompagnement des jeunes</span>
        </p>
        <p class="custom-column">
            <span>♦ Des actions d’éducation aux multimédias :</span>
            <span>– Prévention réseaux sociaux, jeux vidéo</span>
        </p>
    </div>

{% endblock %}