<div class="container-fluid flex">
    <div class="col-12 col-md-6 col-lg-6 mb-3">
        <script src="https://static.elfsight.com/platform/platform.js" async></script>
        <div class="elfsight-app-98a2ec4f-47d8-4006-98e7-8a67b9ad1492" data-elfsight-app-lazy></div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 mb-3 text-center">
        <span class="title-test">Cliquez ici pour télécharger la plaquette !</span>
        <div class="d-flex align">
            <a href="/PDFs/plaquette-web.pdf" download="Plaquette-CAS" target="_blank"> 
                <img class="plaquette " src="/images/plaquette.png">
            </a>
        </div>
    </div>
</div>