{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Temps d'Activités Périscolaires{% endblock %}</title>

    <div class="yellow-color">
        <p class="d-flex align">
            <span>
                Dans le cadre de la réforme des rythmes scolaires, le Centre d’Animation Sociale-JCL co-organise avec la municipalité les Temps d’Activités Périscolaires (TAP).
                Ces temps d’animation de trois 1/4 d’heure tous les soirs d’école développent des activités sportives, manuelles et culturelles avec le soucis d’être complémentaires aux apprentissages scolaires.
                Le Centre d’Animation Sociale-JCL coordonne les Temps d’Activités Périscolaires à l’école Louise Michel.
            </span>
            <img class="img-tap" src="/images/images-plaquette/tap.jpg"/>
        </p>
    </div>

{% endblock %}
