{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Adhésion{% endblock %}</title>

<div class="yellow-color blue-outline custom-column">
    <p class="custom-column">
        <span class="title-test">Adhérer c’est,</span>
        <span>Partager les valeurs de l’association,</span>
        <span>Participer à la vie de l’association et ses différentes activités,</span>
        <span>Une première étape pour devenir bénévole de la structure et intervenir de différentes manières dans l’association.</span>
    </p>
    <p class="custom-column">
        <span>L’adhésion vous permet :</span>
        <span>♦ L’inscription aux différentes activités du Centre d’Animation Sociale-JCL,</span>
        <span>♦ De recevoir le journal de l’association,</span>
        <span>♦ De devenir membre de l’association.</span>   
    </p>
    <p>
        <span>Le tarif de l’adhésion familiale est de 10 € pour 2024-2025, elle est valable du 1er sept. au 31 août.</span>
    </p>
</div>

{% endblock %}
